   
        header {
            background-color: #d6ff64;
            color: #b4df31;
            text-align: center;
            padding: 1em;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #d7d7d7;
        }
        
        nav {
            background-color: #ffffff;
            padding: 10px;
            color: #fff;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav li {
            display: inline;
            margin-right: 20px;
        }
        product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 10px;
            font-size: 13px;
        }

        product {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 30px;
            padding: 15px;
            width: 200px;
            text-align: center;
        }
        product img {
            max-width: 80%;
            height: auto;
            margin-bottom: 10px;
        }
        main {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        }
        article {
        flex: 2;
        margin-right: 20px;
        }
        aside {
        flex: 0.5;
        background-color: #ffffff;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 13px;
        }

        .main-container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
        
        .article-container {
            flex: 2;
            margin-right: 20px;
        }
        
        .aside-container {
            flex: 0.5;
            background-color: #ffffff;
            padding: 10px;
            font-size: 13px;
        }
        
        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
            padding: 10px;
            font-size: 13px;
        }
        
        .product {
            flex: 0 1 calc(25% - 20px); 
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 10px;
            padding: 15px;
            text-align: center;
            box-sizing: border-box;
        }
        
        .product img {
            max-width: 100%; 
            height: auto;
            margin-bottom: 10px;
        }
        
    

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 0px;;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
